@import "../abstracts/colors";
@import "../abstracts/typography";

.bg__technology {
   position: absolute;
   z-index: -1;
   width: 100vw;
   height: 100vh;
   background-image: url("../../../assets/technology/background-technology-desktop.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

/*Slides Active Animations*/
.terminology__slides-active {
   animation: fadeinBottom 0.5s linear;
   opacity: 1 !important;
}

@keyframes fadeinBottom {
   0% {
      transform: translateY(20%);
   }

   50% {
      transform: translateY(10%);
   }

   100% {
      transform: translateY(0);
   }
}

.terminology__img-active {
   opacity: 1 !important;
}

.technology__container {
   display: flex;
   flex-direction: column;
   width: 90%;
   margin-left: auto;
   margin-top: 4.5%;
}

.technology__container .technology__header {
   @include font2(28);
   color: $white;
   letter-spacing: 4.72px;

   span {
      font-weight: bold;
   }
}

.technology__container .technology__contain {
   width: 100%;
   display: flex;
   height: 600px;
   align-items: center;
   justify-content: space-between;
}

.technology__contain .terminology__container {
   display: flex;
   width: 50%;
   justify-content: space-around;
}

.terminology__container .terminology__switcher {
   @include font1(32);
   font-weight: 400;
   letter-spacing: 2px;
   color: $white;
}

.terminology__container .terminology__switcher .number {
   margin-bottom: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   height: 80px;
   width: 80px;
   border: 1px solid $white;
   border-radius: 50%;
}

.number-active {
   background-color: $white;
   color: $dark;
}

.terminology__container .terminology__text {
   position: relative;
   width: 60%;
}

.terminology__container h3 {
   @include font2(16);
   letter-spacing: 2.7px;
   color: $gray-light;
   margin-bottom: 15px;
}

.terminology__container .terminology__header__container {
   position: relative;
   @include font1(58);
   color: $white;
   height: 60px;
   margin-bottom: 20px;

   .terminology__header {
      position: absolute;
      opacity: 0;
   }
}

.terminology__container .terminology__description__container {
   position: relative;
   @include font3(18);
   color: $gray-light;
   line-height: 32px;
   width: 90%;

   .terminology__description {
      position: absolute;
      opacity: 0;
   }
}

.technology__contain .terminology__img__container {
   position: relative;
   width: 550px;
   display: flex;
   align-items: center;

   .terminology__img {
      position: absolute;
      width: 100%;
      opacity: 0;
      transition: all 0.3s ease;
   }
}